body {
    background: beige
}
.panel {
  
    height: 300px;
    width: 250px;
    
}
.search_field {
    
    border-style: solid;
    border-color: grey;
    border-radius: 2%;
    background: lightskyblue;
    padding-left: 5px;
    left: 20px;

}
#main {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 500px;
    height: 300px;
    background: yellowgreen;
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    box-shadow: 10px 10px 5px grey;
    display: flex;

}
#allfriends {
    background: tomato;  
}
#filtered {
    background: lightseagreen;   
}
.friend {
    background: blueviolet;
    text-align: center;
    display: flex;
    height: 50px;
}
.friend img {
    border-radius: 50%;
}
.friend_name_surname {
    text-align: center;
    vertical-align: middle;
}
.friends {
    height: 280px;
    width: 250px;
    overflow-y: auto;
}